.targ {
    background: linear-gradient(103.95deg, #FFAB5E -3.65%, #F7E53E 97.12%);
    height: 100%;
}

.btn-targ {
    background: #FFAE5D;
}

.bg-progress {
    background: #51D676;
}

.desplegar {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #2D77FF;
}

.separador {
    border-left: black 3px solid;
}

.btn-table {
    border: 2px #2D77FF solid;
    color: #2D77FF;
    border-radius: 15%;
}

.borde {
    border-radius: 15%;
}

.bg-contened {
    background: #FBFBFB;
}

.modal-content {
    background: #202639;
}

.close span {
    color: white;
}

.modal-header {
    border-bottom: 0;
}

.green,
.orange,
.blue,
.purple {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 0;
}

.purple {
    background: #702DFF;
}

.blue {
    background: #5690FF;
}

.orange {
    background: #FF9A61;
}

.green {
    background: #1CC34B;
}

.cancel {
    background: rgba(223, 20, 20, 0.1);
    border: solid 1px #DF1414;
    color: #DF1414;
}

.freeze {
    background: rgba(45, 119, 255, 0.1);
    border: solid 1px #2D77FF;
    ;
    color: #2D77FF;
}

.invoice {
    background: #4D5B81;
}

.btn-verde {
    background: #75DC6C;
    color: #fff;
    border: 0;
}