<footer class="bf-footer p-3 shadow-sm text-white navbar">
    <div class="d-flex ml-4">
        <a href="#" class="navbar-brand">
            <img src="../../assets/logo.png" class="mr-2" alt="Error">
        </a>
        <div>
            <span class="instant">INSTANT</span><br>
            <img src="../../assets/virtual.png" alt="Error">
        </div>
    </div>

    <div class="mx-auto navbar-nav">
        <span class="text-white">A service offered by Dent Co finances @ All Rights Reserved.</span>
    </div>

    <div class="ml-auto navbar-nav">
        <span class="text-white">Terms of service | Privace plicy | refund Policy</span>
    </div>
</footer>