<nav class="navbar shadow-sm navbar-expand-lg p-3  bg-white">
    <div class="d-flex ml-4">
        <a href="#" class="navbar-brand">
            <img src="../../assets/logo.png" class="mr-2" alt="Error">
        </a>
        <div>
            <span class="instant">INSTANT</span><br>
            <img src="../../assets/virtual.png" alt="Error">
        </div>
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">

            <li class="nav-item">
                <a class="nav-link active" href="#"><i class="fal fa-credit-card"></i> My cards</a>
            </li>

            <li class="nav-item mx-3">
                <a class="nav-link" href="#"><i class="fas fa-bars"></i> Transactions</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#"><i class="far fa-cog"></i> Settings</a>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <button class="btn btn-primary px-4 py-3 "><i class="far fa-plus-circle"></i> Create a new card</button>
            </li>

            <li class="nav-item dropdown mx-5">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="../../assets/avatar.jpg" class="avatar" alt="error"> <span class="mx-2">Manuel Lopez</span>
                    <i class="fas fa-chevron-down"></i>
                </a>
                <div class="dropdown-menu text-center" aria-labelledby="navbarDropdown">
                    <a href="#" class="dropdown-item">Perfil</a>
                    <a href="#" class="dropdown-item">Perfil</a>
                    <a href="#" class="dropdown-item">Perfil</a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">Perfil</a>
                </div>
            </li>
        </ul>
    </div>

</nav>