/* You can add global styles to this file, and also import other style files */

body {
    background: #EFF8FF;
}

.instant {
    font-family: Graphik;
    font-size: 19px;
    font-weight: 600;
    line-height: 21px;
    font-style: italic;
}

.dropdown-toggle::after {
    display: none;
}

.nav-link {
    font-family: Graphik;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    color: black;
}

.active {
    font-family: Graphik;
    font-weight: 600;
    font-size: 20px;
    font-style: normal;
    color: #2D77FF;
    display: inline-block;
    padding-bottom: 5px;
    position: relative;
}

.active:before {
    content: "";
    position: absolute;
    width: 70%;
    bottom: 0;
    left: 15%;
    border-bottom: 5px solid #2D77FF;
    border-radius: 20px;
}